body{
                background-color: rgb(232, 129, 127);
                background-repeat: no-repeat;
                background-size: cover;
            }
            h1{
                color: aliceblue;
                font-size: 100px;
                text-align: center;
            }
            img{
                width: 99%;
                height: 500px;
                border: 5px aliceblue solid;
                border-radius: 530px;
            }
            h6{
                color: aliceblue;
                text-align: center;
                font-size: 30px;
            }
            #s1{
                background-color: aliceblue; 
                color: rgb(144,71, 19);
                transition: all 3s ease;
            }
            #s2{
                transition: all 3s ease;
            }
            body:hover #s1{
                color: aliceblue; 
                background-color:rgb(147, 83, 0);
            }
            body:hover #s2{
                background-color: aliceblue; 
                color: rgb(147, 83, 0);
            }

            .Sub{
                background-color: aliceblue;
                width: 350px;
                text-align: center;
                border-radius: 30px;
                transition: all 0.5s ease;
            }
            .Sub img{
                width: 300px;
                height: 200px;
                border: 5px aliceblue solid;
                border-radius: 30px;
            }
            .Sub button{
                width: 300px;
                height: 45px;
                background-color: rgb(231, 82, 174);
                color: aliceblue;
                border-radius: 30px;
                font-size: large;
                transition: all 0.5s ease;
            }
            .Main{
                display: flex;
                justify-content: space-evenly;
            }
            .Sub:hover{
                transform: translateY(-30px);
            }
            .Sub:hover button{
                background-color: orangered;
            }